<div class="nav-container">
    <div class="caption-text">Contact Us</div>
</div>

<div class="about-container">
    <div class="contact-header">
        <h1 class="header-title">WE  WANT  TO  WORK  WITH  YOU!</h1></div>
    <div class="contact-desc">
        <h4 class="header-desc">If you are interested in what we have to offer you, please feel free to leave us your information so that we may get in contact with you.</h4></div>
    <div class="subscription-box">
      <div class="subscription-name"><input type="text" placeholder="Name" required></div>
      <div class="subscription-email"><input type="text" placeholder="Email" required></div>
      <div class="subscription-date"><input type="text" placeholder="Date of Event"></div>
      <div class="subscription-submit"><input class="submit" type="submit" name="Submit"></div>
    </div>
</div>

<div class="social-media2">
    <a href="https://www.facebook.com/tinseleventsweddings/" target="_blank"><img src="../../images/gold-icons/64px/facebook.png" alt="facebook" class="social"></a>
    <a href="https://www.instagram.com/tinselevents/" target="_blank"><img src="../../images/gold-icons/64px/instagram.png" alt="instagram" class="social"></a>
    <p class="seperator">-</p>
    <a ui-sref="home"><img src="../../images/gold-icons/small-gold.png" alt="tinsel-logo" class="small-gold" servmenudir></a>
    <p class="seperator">-</p>
    <a href="https://www.pinterest.com/tinselevent/" target="_blank"><img src="../../images/gold-icons/64px/pinterest.png" alt="pinterest" class="social"></a>
    <a href="https://twitter.com/TinselEvents" target="_blank"><img src="../../images/gold-icons/64px/twitter.png" alt="twitter" class="social"></a>
</div>
