<div class="full-page">
    <div class="page-container">
        <div class="menu-button">
            <img src="./images/menu-button.png" class="slideout-menu-toggle">
        </div>
        <div class="slideout-menu">
            <ul class="page-buttons">
                <li><img src="./images/About.png" class="button1"></li>
                <li><img src="./images/Services.png" class="button2"></li>
                <li><img src="./images/Gallery.png" class="button3"></li>
                <li><img src="./images/Contact.png" class="button4"></li>
            </ul>
        </div>
        <div class="image-container">
            <div>
                <img src="./images/tinsel-gold.png" class="gold-logo">
            </div>
        </div>
    </div>
</div>
