<div class="nav-container">
    <div class="about-text">About Tinsel</div>
</div>

<div class="about-container">
    <div class="img-background">
        <div class="comp-img colorize">
            <p class="about-title">The Company</p>
        </div>
    </div>
    <div class="img-background">
        <div class="mission-img colorize">
          <p class="about-title">Our Mission</p>
        </div>
    </div>
</div>

<div class="social-media">
    <img src="../../images/gold-icons/64px/facebook.png" alt="facebook" class="social">
    <img src="../../images/gold-icons/64px/instagram.png" alt="instagram" class="social">
    <p class="seperator">-</p>
    <a ui-sref="home"><img src="../../images/gold-icons/small-gold.png" alt="tinsel-logo" class="small-gold"></a>
    <p class="seperator">-</p>
    <img src="../../images/gold-icons/64px/pinterest.png" alt="pinterest" class="social">
    <img src="../../images/gold-icons/64px/twitter.png" alt="twitter" class="social">
</div>
