<div>
    <div class="nav-container">
        <div class="caption-text">About Tinsel</div>
    </div>

    <div class="about-container">
        <div id="about-company" aboutdir class="img-background">
            <div class="comp-img colorize">
                <p class="about-title">The Company</p>
            </div>
        </div>
        <div id="about-mission" class="img-background" >
            <div class="mission-img colorize">
                <p class="about-title">Our Mission</p>
            </div>
        </div>
    </div>

    <div class="social-media">
      <a href="https://www.facebook.com/tinseleventsweddings/" target="_blank"><img src="../../images/gold-icons/64px/facebook.png" alt="facebook" class="social"></a>
      <a href="https://www.instagram.com/tinselevents/" target="_blank"><img src="../../images/gold-icons/64px/instagram.png" alt="instagram" class="social"></a>
      <p class="seperator">-</p>
      <a ui-sref="home"><img src="../../images/gold-icons/small-gold.png" alt="tinsel-logo" class="small-gold" servmenudir></a>
      <p class="seperator">-</p>
      <a href="https://www.pinterest.com/tinselevent/" target="_blank"><img src="../../images/gold-icons/64px/pinterest.png" alt="pinterest" class="social"></a>
      <a href="https://twitter.com/TinselEvents" target="_blank"><img src="../../images/gold-icons/64px/twitter.png" alt="twitter" class="social"></a>
    </div>
</div>

<!-- company pop up window -->

<div id="company-popup" class="whole-container">
    <div class="full-container"></div>
    <div class="popup-box">
        Megan has been planning weddings since 2010. She went to college at Brigham Young University Idaho and studied business and event management. She has planned events all over the country and not only weddings, although those are her favorite! She commonly
        quotes the phrase, “It’s only impossible until it’s done!” She truly has an eye made for the wedding industry and is passionate about helping make your wedding day extra special. She sets the bar and creates new trends. She truly is able to relate
        with so many different styles and clients. We are proud to work as a team under the direction of her artistic creativity. Together, at Tinsel Events, we can accomplish anything.
    </div>
</div>

<!-- mission pop up window -->

<div id="mission-popup" class="whole-container">
    <div class="full-container"></div>
    <div class="popup-box2">
        At Tinsel Events we exceed expectations. We are so much more than a team of event planners. As creative designers we have an eye for aesthetics. Think of us as friends that are here to help you prepare the wedding of your dreams. We are a team of people
        ready and willing to make your day unique and unlike any other. We want the bride, groom, and their loved ones to feel at ease and enjoy their wedding experience start to finish. We all are here for you on your day and will push to new limits
        to help you achieve lasting memories you will look back on for a life time.
    </div>
</div>
