<div class="nav-container">
    <div class="caption-text">Our Services</div>
</div>

<div class="parallax1" data-parallax="scroll" data-image-src="../../images/page-imgs/parallax1.jpg"></div>

<div class="full-service container">
    <img src="../../images/page-imgs/services1.jpg" id="service-img">
    <div class="row">
        <div class="col-md-9 service-title">
            <h3>Hourly Consultation:</h3>
        </div>
        <div class="col-md-9 service-desc">
            <p>
                We're here to offer one on one design ideas and tips to make your special day exactly what you imagine. This is for the more independent bride who just needs a jump start or help turning her ideas into reality. (Included in the price of other packages)</p>
        </div>
    </div>
</div>

<div class="parallax2 parallax" data-parallax="scroll" data-image-src="../../images/page-imgs/parallax2.jpg"></div>

<div class="full-service container">
    <div class="row">
        <div class="col-md-9 service-title">
            <h3>Day Of:</h3>
        </div>
        <div class="col-md-9 service-desc2">
            <p>
                We will take care of anything related to the day of the event. Including setting up, coordinating with vendors, clean up, and more. We will help make sure you get the decor, event center, and food you want. You can expect your guests to stay happy and
                enjoy the night. Most Importantly your memories will be of enjoying the day not stressing over details we have covered as that is our highest priority. (Consultation Included)</p>
        </div>
    </div>
    <img src="../../images/page-imgs/services2.jpg" id="service-img2">
</div>

<div class="parallax3 parallax" data-parallax="scroll" data-image-src="../../images/page-imgs/parallax3.jpg"></div>

<div class="full-service container">
    <img src="../../images/page-imgs/services3.jpg" id="service-img">
    <div class="row">
        <div class="col-md-9 service-title">
            <h3>All Inclusive:</h3>
        </div>
        <div class="col-md-9 service-desc">
            <p>
                Leave it up to us. We will take care of everything from invitations, wedding dress to wedding party attire, to an absolutely beautiful ceremony/reception. Tinsel Events is here to make sure everything runs smoothly, looks amazing, and is an overall enjoyable,
                stress free experience. All that is required of you is to enjoy your special day we planned together.</p>
        </div>
    </div>
</div>

<div class="social-media2">
    <img src="../../images/gold-icons/64px/facebook.png" alt="facebook" class="social">
    <img src="../../images/gold-icons/64px/instagram.png" alt="instagram" class="social">
    <p class="seperator">-</p>
    <a ui-sref="home"><img src="../../images/gold-icons/small-gold.png" alt="tinsel-logo" class="small-gold" servmenudir></a>
    <p class="seperator">-</p>
    <img src="../../images/gold-icons/64px/pinterest.png" alt="pinterest" class="social">
    <img src="../../images/gold-icons/64px/twitter.png" alt="twitter" class="social">
</div>
