@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

/*font-family: 'Sacramento', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

.nav-container {
    width: 100%;
    height: 13vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    font-family: $pageTitleFont;
    font-size: 60px;
    font-weight: 100;
    color: gold;
    /*text-transform: uppercase;*/
    opacity: 0.75;
    padding-top: 1.5vh;
}

.about-container {
    width: 100%;
    height: 74vh;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.img-background {
    width: 34.8vw;
    height: 55.5vh;
    background: url("../../images/gold-icons/gold-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.comp-img {
    width: 33.7vw;
    height: 53.5vh;
    background: url("../../images/content-pics/content50.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-img {
    width: 33.7vw;
    height: 53.5vh;
    background: url("../../images/content-pics/content51.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorize:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .3s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .3s ease-in-out;
}

.colorize {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .3s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .3s ease-in-out;
}

.about-title {
    color: white;
    font-size: 5vw;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: -1px -1px 0 $primaryGold, 1px -1px 0 $primaryGold, -1px 1px 0 $primaryGold, 1px 1px 0 $primaryGold;
}

.social-media {
    width: 100%;
    height: 13vh;
    padding-left: 35vw;
    padding-right: 35vw;
    background: black;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.small-gold {
  width: 5.2vw;
  transition: all .6s;
}

.small-gold:hover {
  opacity: 0.7;
}

.seperator {
  color: $primaryGold;
  font-size: 17px;
  margin: 0px 1vw 0px 1vw;
}

.social {
    width: 4vw;
    opacity: 0.6;
    margin: 1vw;
    transition: all .6s;
}

.social:hover {
  opacity: 1;
}

/*company pop up window*/

.whole-container {
  width: $fullWidth;
  height: $fullHeight;
  position: absolute;
  top: 0;
  left: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 200;
}

.full-container {
  width: $fullWidth;
  height: $fullHeight;
  background: $background;
  opacity: $fadedBackground;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

.popup-box {
  width: 65%;
  height: 74vh;
  background: black;
  z-index: 201;
  position: absolute;
  border: 4px solid $primaryGold;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: white;
  overflow: auto;
}

#company-popup {
  display: none;
}

#mission-popup {
  display: none;
}


// AT MEDIA QUERIES

@media (min-width: 1500px) {
  .popup-box {
    font-size: 35px;
  }
}

@media (max-width: 1025px) {
  .popup-box {
    font-size: 26px;
  }
}

@media (max-width: 800px) {
  .popup-box {
    font-size: 22px;
  }
}
