@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  width: 100%;
}

.nav-bar {
  width: 100%;
  position: absolute;
}

.page-container {
  width: 100%;
  height: 100vh;
  /*background: url('../../images/tinsel-pics/slide8.JPG') no-repeat center;
  background-size: cover;*/
}

.menu-button {
  width: 100%;
  height: 13vh;
  display: flex;
  align-items: center;
  /*float: left;*/
}

.menu-toggle {
  width: 6vw;
  padding-left: 1vw;
  position: relative;
  z-index: 51;
  opacity: 0.6;
  transition: all .7s;
}

.menu-toggle:hover {
  cursor: pointer;
  opacity: 1;
}

.hide-show {
  display: none;
}

.slideout-menu {
  width: 100%;
  height: 13vh;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 51;
}

li {
  list-style: none;
  margin: 0vh 6vw;
}

.button1 {
  width: 6.3vw;
}

.button1:hover {
  width: 6.6vw;
}

.button2 {
  width: 8.5vw;
}

.button2:hover {
  width: 8.8vw;
}

.button3 {
  width: 8.3vw;
}

.button3:hover {
  width: 8.6vw;
}

.button4 {
  width: 8.5vw;
}

.button4:hover {
  width: 8.8vw;
}

#menu-hide {
  opacity: .8;
  transition: all .7s;
}
#menu-hide:hover {
  opacity: 1;
}

.image-container {
  width: 100%;
  height: 100vh;
  /*background-color: gray;*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 25;
  position: absolute;
  top: 0;
  left: 0;
}

.gold-logo {
  width: 335px;
  z-index: 50;
  position: relative;
}
