<div class="nav-container">
    <div class="caption-text2">Gallery</div>
</div>

<div class="gallery-container container" gallerydir>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content1.jpg"><div class="gal1"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content2.jpg"><div class="gal2"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content3.jpg"><div class="gal3"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content4.jpg"><div class="gal4"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content5.jpg"><div class="gal5"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content6.jpg"><div class="gal6"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content7.jpg"><div class="gal7"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content8.jpg"><div class="gal8"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content9.jpg"><div class="gal9"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content10.jpg"><div class="gal10"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content11.jpg"><div class="gal11"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content12.jpg"><div class="gal12"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content13.jpg"><div class="gal13"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content14.jpg"><div class="gal14"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content15.jpg"><div class="gal15"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content16.jpg"><div class="gal16"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content17.jpg"><div class="gal17"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content18.jpg"><div class="gal18"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content19.jpg"><div class="gal19"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content20.jpg"><div class="gal20"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content21.jpg"><div class="gal21"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content22.jpg"><div class="gal22"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content23.jpg"><div class="gal23"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content24.jpg"><div class="gal24"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content25.jpg"><div class="gal25"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content26.jpg"><div class="gal26"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content27.jpg"><div class="gal27"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content28.jpg"><div class="gal28"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content29.jpg"><div class="gal29"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content30.jpg"><div class="gal30"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content31.jpg"><div class="gal31"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content32.jpg"><div class="gal32"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content33.jpg"><div class="gal33"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content34.jpg"><div class="gal34"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content35.jpg"><div class="gal35"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content36.jpg"><div class="gal36"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content37.jpg"><div class="gal37"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content38.jpg"><div class="gal38"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content39.jpg"><div class="gal39"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content51.jpg"><div class="gal40"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content41.jpg"><div class="gal41"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content42.jpg"><div class="gal42"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content43.jpg"><div class="gal43"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content44.jpg"><div class="gal44"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content45.jpg"><div class="gal45"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content46.jpg"><div class="gal46"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content47.jpg"><div class="gal47"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content48.jpg"><div class="gal48"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content49.jpg"><div class="gal49"></div></a>
    <a class="fancybox" gallerydir rel="gallery1" href="../../images/content-pics/content50.jpg"><div class="gal50"></div></a>
</div>

<div class="social-media2">
    <img src="../../images/gold-icons/64px/facebook.png" alt="facebook" class="social">
    <img src="../../images/gold-icons/64px/instagram.png" alt="instagram" class="social">
    <p class="seperator">-</p>
    <a ui-sref="home"><img src="../../images/gold-icons/small-gold.png" alt="tinsel-logo" class="small-gold" servmenudir></a>
    <p class="seperator">-</p>
    <img src="../../images/gold-icons/64px/pinterest.png" alt="pinterest" class="social">
    <img src="../../images/gold-icons/64px/twitter.png" alt="twitter" class="social">
</div>
